<ul class="media-list">
  <% tasklists.each do |tasklist| %>
    <% user = tasklist.user %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(current_user, options={size:50}) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to user.name, user_path(user) %> <span class="text-muted">posted at <%= tasklist.created_at %></span>
        </div>
        <div>
          <p>Task: <%= tasklist.content %></p>
          <p>Status: <%=tasklist.status %></p>
        </div>
        <div>
          <% if current_user == tasklist.user %>
            <%= link_to "Delete", tasklist, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
            
            <%= link_to "Edit", edit_tasklist_url(tasklist.id) ,class:"btn btn-default btn-xs"%>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate tasklists %>
</ul>
