<h1>id =
<%= @tasklist.id %>
のタスク詳細</h1>

<table class="table table-border">
  <tr>
    <th>id</th>
    <td><%= @tasklist.id %></td>
  </tr>
  <tr>
    <th>Task</th>
    <td><%= @tasklist.content %></td>
  </tr>
  <tr>
    <th>Status</th>
    <td><%= @tasklist.status %></td>
  </tr>
</table>

<%= link_to "このタスクを編集する", edit_tasklist_path(@tasklist), class: "btn btn-default" %>
<%= link_to "このタスクを削除する", @tasklist, method: :delete, data: {confirm: "本当に削除してよろしいですか？"}, class: "btn btn-danger" %>