<h1>id =
<%= @tasklist.id %>
のタスク詳細</h1>

<p>Task : <%= @tasklist.content %></p>
<p>Status : <%= @tasklist.status %></p>

<%= link_to "一覧に戻る", tasklists_path %>

<%= link_to "このタスクを編集する", edit_tasklist_path(@tasklist) %>
